[2017-06-25 17:33] bl4de opened #2 "Output HTML can't be saved due to UnicodeEncodeError exception: 'ascii' codec can't encode character u'\u2018'"
Hi Gerben,

First things first - thank you for such great tool :) I've just started to use it ;)

Unfortunately, I've stuck with an error thrown by UnicodeEncodeError while HTML with output is saved to output file (sorry for url redacted, but it comes from private BB program and I can't disclose it - basically it's just big, minified JavaScript file, full of juicy endpoint URLs)

Here's how I call

[2017-06-25 19:34] GerbenJavado commented on #2
Hi bl4de! Thanks for the feedback. Using str.encode('utf-8') should have fixed this. Can you confirm whether: https://github.com/GerbenJavado/LinkFinder/commit/89771be1f7153f76c5c30012a64bd0dd0d1206fc fixed this or not?

[2017-06-25 19:38] GerbenJavado commented on #2
Aah the fix seems incomplete for Python3 I'll further investigate

[2017-06-25 22:01] bl4de commented on #2
Hi Gerben,

On macOS/Python 2.7.10 I can confirm it's fixed 👍

[2017-06-26 02:36] jhaddix opened #3 "Spider integration?"
Great idea.

Coupling this with a spider or inside of Burp would be best for full scope testing =)

[2017-06-26 04:15] #2 closed

[2017-06-26 08:40] GerbenJavado commented on #3
Probably not. The reason is that I believe that LinkFinder needs quite a bit manual analysis to investigate the endpoints. For example /v1/user could easily be for the endpoint /api/v1/user. Furthermore parameters might be needed to verify the request. Thus the amount of false positives that would give, loosing the context of the endpoint and the extra work made me decide to not do it.

If you kno

[2017-06-26 17:10] #3 closed

[2017-07-16 12:46] arbazkiraak opened #19 "Feature Request"
@EdOverflow @GerbenJavado

* First of All Thanks for Creating this Tool.

How about Adding This Feature :

All *.js urls in input.txt file.

Some JS File's may require Session Cookie :

./linkfinder.py -cookie="SESSION" -i input.txt -o res.html

----------------------------------------------------------------------------------

Make's Request to *.js url.
takes the response.
find links
and output

[2017-07-16 12:50] EdOverflow commented on #19
@arbazkiraak Thank you for the request. I will give it ago and see how it works.

<details>
   <summary>
      P.S.:
   </summary>
    I did not create this tool. :wink:
</details>

[2017-07-16 13:45] arbazkiraak commented on #19
:dancer:  I Think this is great idea .

if you are testing with Burp Suite

1. Click on Filter .
2. Filter by File extension . Show Only (add  js) on it.
3. this will show only .js files of our target .
4. finally select all content's as "Copy selected url's"
5. paste it in a file.
6. give it to linkfinder.py with cookie header.

profit !

Let me know what do you think :)

[2017-07-16 13:46] GerbenJavado commented on #19
Haha @EdOverflow it is close to being just as much of your project as it is mine. @arbazkiraak Looks good, great ideas. Im on holidays tomorrow, might just implement it then.

[2017-07-16 13:57] arbazkiraak commented on #19
@GerbenJavado  :1st_place_medal:    , Looking forward to contribute to it.

https://twitter.com/ArbazKiraak

[2017-07-16 19:59] GerbenJavado commented on #19
@arbazkiraak I like the `All *.js urls in input.txt file.` and the Burp option the best. For the Burp option I have a suggestion, wouldn't it be better if I implemented an option where LinkFinder takes `Save selected items` and reads the JS files in that file. This was the output is already there and cookies aren't a issue.

[2017-07-16 21:06] arbazkiraak commented on #19
@GerbenJavado  Thanks for the Response.

"Save selected items" Yes This is Better Option :+1:   Than Previous one .

Can we put both Feature's ?

1.  "Save selected items" if you are Testing From Burp suites.
2.   --cookie extra parameter  And to read All *.js urls in input.txt file. Because Not Everyone use's burp + it will good for testing quickly (Mainly for Authenticated JS Files) . directly c

[2017-07-16 21:09] GerbenJavado commented on #19
@arbazkiraak probably will take that route indeed. 1rst one will have my priority. Coding shouldnt be a problem but if you are interested in how I am going to do it, chat with me on twitter or the bugbountyforum/bougbounty-world slack.

[2017-07-18 15:54] GerbenJavado commented on #19
@arbazkiraak Burp intergration and cookie support has been merged today. Can you confirm whether or not this works correctly (seems to do so here) ?

[2017-07-18 23:40] arbazkiraak commented on #19
Hi,

i Confirm Both are Working !

Thanks :1st_place_medal:

[2017-07-18 23:40] #19 closed

[2017-08-26 13:38] arbazkiraak opened #23 "Possible Output.html Bug for Burp Files"
Hey @GerbenJavado

* I Guess there is a bug Displaying  ahref value to **BURP FILE** instead of URL in output.html

* Here is the output of different JS URLS from burp file .

[code]

Bug : **File: Burp file**

[2017-08-26 16:22] GerbenJavado commented on #23
@arbazkiraak thank you for submitting this issue, feedback is highly appreciated. This is a known issue. I wanted to use the old function in Python as much as possible and adding this link requires a different array structure (this is just a dirty fix). I will definitly look to this in the future and leave the ticket open.

[2017-08-27 13:01] GerbenJavado commented on #23
@arbazkiraak LinkFinder now shows the original URL if a burp file is used as input. Thanks for addressing this feature/issue.

[2017-08-27 13:01] #23 closed

[2017-08-27 13:02] arbazkiraak commented on #23
Thanks! :+1:

[2017-09-07 11:14] TvMpt opened #24 "Remove duplicates endpoints ( cli / html )"
Sometimes duplicate data is useful, but not in this case, I think. Could be better if you remove all duplicated entries in endpoints list [ ], before send to output ( cli/html )

[2017-09-09 12:38] GerbenJavado commented on #24
Hi @TvMpt. Thank you for addressing this bug/feature. This is already happening for cli mode but not for html output. This will be addressed.

[2017-09-26 12:17] GerbenJavado commented on #24
@TvMpt This issue should be fixed. See commit: https://github.com/GerbenJavado/LinkFinder/commit/a5fa9bfeee02d4a4672e5eb1c1442dbfba197880

[2017-09-26 12:17] #24 closed

[2017-10-19 14:36] t3h2mas opened #25 "File could not be found error"
When you don't prefix the input URL with http/https the script fails with a non obvious error:
[code]

This might trip new users up. I suggest either

1. checking the url and suggesting they add http or https
2. adding a comment to the 'file could not be found' error message such as
[code]

[2017-10-19 14:43] EdOverflow commented on #25
Updating the following snippet could solve this issue:
https://github.com/GerbenJavado/LinkFinder/blob/a5fa9bfeee02d4a4672e5eb1c1442dbfba197880/linkfinder.py#L93-L96

[2017-11-28 12:17] GerbenJavado commented on #25
Thank you for the suggestion @t3h2mas and sorry for the late response (missed this one). Issue has been addressed in commit https://github.com/GerbenJavado/LinkFinder/commit/2402ed6f4267947b8a182458e08abda8e6e05c08. Writing an automatic pre-fixer would have required a lot more work, since we also want to scan local files. Thus, I went with the lazy option.

[2017-11-28 13:30] #25 closed

[2017-11-28 15:01] t3h2mas commented on #25
Appreciate it :)

[2018-02-24 19:49] gopinath6 opened #28 "OSError: [WinError 6] The handle is invalid"
OS: Win 7
python  :3
I tried to use burp  save  items to find link
Eventhough output file was created.Any idea about the error in console?

![image](https://user-images.githubusercontent.com/6551119/36634374-874d9be0-19c9-11e8-99b6-f35b19e629fb.png)

[2018-02-25 19:48] GerbenJavado commented on #28
Hi @gopinath6, if you feed a Burp file into LinkFinder make sure to use the output option cli. This can be done by setting adding: "-o cli" at the end. Hope this helps. Kind regards, Gerben

[2018-02-25 19:50] GerbenJavado commented on #28
Hi @gopinath6, Do I understand you correctly that the output was complete? I'll look into the error.

[2018-02-26 15:15] gopinath6 commented on #28
Yes you are correct, am getting the output file completed and  also the error.
-o cli  also works, but not  easily readable format.

[2018-03-10 10:28] GerbenJavado opened #29 "UnicodeDecodeError byte 0x9c"
Given a Burp input file the b64decode and decode('utf-8') function seem to conflict if a 0x9c byte is present. Should be fixed.

[code]

[2018-03-10 10:31] GerbenJavado commented on #29
A sufficient fix could be

[code]

[2018-03-11 09:32] GerbenJavado commented on #29
Fixed https://github.com/GerbenJavado/LinkFinder/commit/03260918e1a920a2235736cb37f12befc232ab03!

[2018-03-11 09:32] #29 closed

[2018-03-30 17:05] #28 closed

[2018-03-30 17:05] GerbenJavado commented on #28
Should be fixed now ;) (finally)

[2018-04-09 16:41] ctgreen78 opened #30 "Dealing with SSL errors"
Any way to deal with sites that use self-sign certs?

![linkfinder](https://user-images.githubusercontent.com/34352828/38510533-5bd65ef6-3bf3-11e8-83da-4f4913e790ed.JPG)

[2018-04-09 16:52] GerbenJavado commented on #30
I'll look into it. Thanks!

Op ma 9 apr. 2018 18:41 schreef ctgreen78 <notifications@github.com>:

[2018-04-09 16:56] ctgreen78 commented on #30
Thanks!

[2018-04-09 17:53] GerbenJavado commented on #30
Could you verify if this code change (https://github.com/GerbenJavado/LinkFinder/pull/31) fixes the issue?

[2018-04-13 10:24] #30 closed

[2018-05-16 20:50] bl4de opened #34 "-i (--input) does not work with wildcards when using in path to folder: /path/to/folder/*.js"
Hi Gerben, I hope you're well :)

I found a small issue in ```-i``` option. When I pass as an argument a path to the folder with JavaScript files using wildcard:

[code]

 I get the following error:

[code]

When I call single file from this folder, LinkFinder works like a charm:

[code]

Let me know if you need any additional information about this issue

Regards,

bl4de

[2018-05-17 09:39] GerbenJavado commented on #34
Hi bl4de,

Im aware of this issue. LinkFinder has been written in such a way that you need to use single quote when referencing an asterisk like: ./linkfinder.py -i '~/hacking/bugbounty/Valve/store.steampowered.com/*.js'. If you know a way to fix this I'd be happy to implement it, but else I would suggest you to use this method.

Regards,
Gerben

[2018-05-17 09:39] #34 closed

[2018-05-17 09:56] bl4de commented on #34
Hi Gerben,

I'll try to take a look at this issue, maybe I will find a way to fix this.
If yes, I'll send a PR :)

Regards,

bl4de

[2018-05-17 09:57] GerbenJavado commented on #34
Thanks! Also for being alert on issues and reporting them.

[2018-05-17 09:59] bl4de commented on #34
You're welcome!
We should help each other, I think.
Especially, if we use tools made by them :)

[2018-06-02 00:03] samuel823 opened #35 "hi"
when im using ./linkfinder -i target.com < it is working
but when i try to scan with a file , and then the file has like 20 url from the target site than is not working idk why

[2018-06-02 00:03] samuel823 commented on #35
so that my question how can i scan with a file , and the file have so many url inside , sorry for my bad english

[2018-06-02 06:33] GerbenJavado commented on #35
Hi @samuel823, The documentation should provide you with enough information on how to scan a local file using LinkFinder. Furthermore try the '-o cli' options for non-JS files.

[2018-06-02 06:33] #35 closed

[2018-06-02 06:34] adarshshetty18 opened #36 "sslv3 alert handshake failed issue"
Can you solve this issue please?
Thank you.
![issue](https://user-images.githubusercontent.com/36619210/40871645-08c4f850-665d-11e8-9910-555d00b31595.png)

[2018-06-02 06:48] adarshshetty18 commented on #36
Solution: Just update the linkfinder to the latest version by replacing the most recent edited file or just clone it again.

[2018-06-02 06:48] #36 closed

[2018-06-02 16:17] samuel823 commented on #35
so that i put ./linkfinder -i -o *.txt < the file with url. right?

[2018-06-05 09:02] adarshshetty18 opened #37 "Gzip encoded output when running through some sites."
Please look into it.
Thanks
![link](https://user-images.githubusercontent.com/36619210/40966109-36f583b2-68cd-11e8-9e11-034c39f866bc.png)

[2018-06-05 10:37] EdOverflow commented on #37
That is @GerbenJavado's backdoor.

[2018-06-05 13:36] amalmurali47 opened #38 "Script stops abruptly if SSL error is encountered"
Line 280-281 has:

[code]
And `parser_error()` calls `sys.exit()`.

This causes the following loop to terminate the execution mid-way, leaving the remaining endpoints unprocessed:

[code]

I'm not sure if this is intended behaviour - thought I'd just report the issue. Feel free to close this if you think it's not something that needs to be fixed.

Cheers,
Amal

[2018-06-06 22:17] GerbenJavado commented on #38
Hi Amal,

This is actually a very interesting point you raise. Indeed when going over a bunch of domains one shouldn't trip up the entire process. I'll think about a good solution.

Regards,
Gerben

[2018-06-08 13:09] adarshshetty18 commented on #37
What's happening?

[2018-06-08 13:09] GerbenJavado commented on #37
Mistake by Ed ;)

[2018-06-08 13:10] EdOverflow commented on #37
I accidentally closed this issue. Sorry for the confusion, @adarshshetty18. I blame @GerbenJavado's backdoor.

[2018-06-08 13:10] adarshshetty18 commented on #37
Ohh. Okay xD

[2018-06-08 13:11] EdOverflow commented on #37
Sorry about that, @adarshshetty18!

[2018-07-12 22:35] energiatel opened #40 "Invalid input defined or SSL error: 'module' object has no attribute 'decompress'"
root@localhost:~/Documents/LinkFinder# python linkfinder.py -i http://www.someurl.com -d
I always get this:
Usage: python linkfinder.py [Options] use -h for help
Error: invalid input defined or SSL error: 'module' object has no attribute 'decompress'

Is it my mistake?

[2018-07-15 03:32] dPhoeniixx commented on #40
same issue

[2018-07-15 06:59] dPhoeniixx commented on #40
I found that the decompression function that is used to decompress data has been added only in python => 3.2, this issue appears only in python < 3.2
If you want to fix this issue in python < 3.2, you need add this imports in linkfinder.py
[code]
and replace
[code]
with
[code]
In the end, thank you @GerbenJavado for this awesome tool <3 !

[2018-07-15 11:02] GerbenJavado commented on #40
Thank you @energiatel for submitting this issue and thank you @dPhoeniixx for proposing the fix. It helps a ton. Should be fixed quickly.

[2018-07-15 11:11] GerbenJavado commented on #40
I still need to test the code however pull request #41 should do the trick. The try statement is to both support Python 2 & 3.

[2018-07-17 12:14] GerbenJavado commented on #40
As far as my tests are correct this issue should be fixed with commit 6149c50b7b576a4d52b43119846a59bdeb0d312f. If you notice any further problems please tell me about it. Thanks!

[2018-07-17 12:14] #40 closed

[2018-09-03 06:28] irshad9998 opened #42 "invalid input defined or SSL error: 'module' object has no attribute 'PROTOCOL_TLSv1_2'"
Hey,

I got this error  `invalid input defined or SSL error: 'module' object has no attribute 'PROTOCOL_TLSv1_2'`.

`root@localhost:~/Documents/LinkFinder# python linkfinder.py -i https://example.com -d
Usage: python linkfinder.py [Options] use -h for help
Error: invalid input defined or SSL error: 'module' object has no attribute 'PROTOCOL_TLSv1_2'
`
Regards

[2018-09-07 09:07] GerbenJavado commented on #42
@irshad9998 Thanks for reporting! I'll look into it.

[2018-10-31 15:36] Bankde commented on #42
I have noticed we're using low level urllib. Should we use python Requests instead ?
Requests lib might handle that for us.

[2018-11-03 17:47] gh0stkey commented on #42
Hey,man.I think i have the same problem as you,but i fixed it.
You can change the code of `linkfinder.py`.
Original Code:
[code]
After the change of code:
[code]

[2018-11-04 16:36] GerbenJavado commented on #42
I swapped out requests originally because it gave very bad performance. (some problems with using it for very large textfiles in combination with file://)

[2018-11-04 16:36] GerbenJavado commented on #42
@gh0stkey Thank you so much for the suggestion. Ill try it out and add it to LinkFinder.

[2018-11-04 17:17] #42 closed

[2018-11-04 17:23] GerbenJavado opened #47 "Reduce false positives by setting minlength"
In some testing I noticed we might be able to reduce a lot of false positives by introducing a min length for a URL. Now stuff like `./zh-tw`  or even `/./` are valid. If we set a min-length of 5-7 characters this would limit a lot of them.

What do you think of this @EdOverflow and @Bankde? What would be the ideal tradeoff here? maybe even more than 7 characters min?

[2018-11-04 17:28] GerbenJavado commented on #47
Another possible improvement is to delete the context if it exceeds a certain amount of characters. This is sometimes a problem now because there is too much on one line.

[2018-11-04 20:09] EdOverflow commented on #47
Setting limits sounds like a reasonable way of tackling this problem to me. :+1:

[2018-11-21 03:13] pygain11 commented on #30
Usage: python linkfinder.py [Options] use -h for help
Error: invalid input defined or SSL error: <urlopen error [Error 3] : ''>

[2018-11-25 16:05] jichuangJC opened #48 "baidu"

[2019-05-09 14:26] s7x opened #49 "[Tool run error] "DeprecationWarning: cgi.escape is deprecated, use html.escape instead""
Hi there,

When we try to run the tool with python3.7, we got the following warning and the script doesn't run:

[code]

Cheers!

[2019-05-20 10:03] Bankde commented on #49
This is weird. I just tried Python3.7.3 in my Ubuntu. The deprecate warning shows up but the script also runs correctly (with Firefox opening).

Is there any error in your output ?
What is your default browser ?
Does the script produce output.html in current working directory for you ?

No worry, I will definitely fix this deprecation and will push request after I confirm it works on python2, pyth

[2019-05-20 12:21] Bankde commented on #49
While the deprecated is fixed. I request this issue open for a while. The script doesn't run seems to be different issue to me so I hope the OP could provide us more information.

[2019-05-24 04:49] sftrwo opened #52 "Regular expression problem"
Regular expressions may not be perfect enough, some urls cannot match.
for example:
` var url=get_path_url("?mod=admin&act=login&method=ajax);`

If I put index.php in front of "?", I can match it.
for example:
` var url=get_path_url("index.php?mod=admin&act=login&method=ajax);`

[2019-05-24 13:00] s7x commented on #49
Hi @Bankde I successfully ran the script today! Don't know why it started working after a few days (I updated my OS at least 3 times in between)
Now there's just the deprecation warning :)
Cheers:

[2019-05-29 15:37] pcastagnaro commented on #42
Hi guys,

I am getting a similar error: `urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:727)`. How can I repair it?

Thanks!

[2019-06-13 12:57] #48 closed

[2019-06-13 12:58] GerbenJavado commented on #52
This is expected behaviour since the latter Url will be hard to catch, you are more than welcome to write support for it that doesn't introduce many false positives.

[2019-06-13 12:58] #52 closed

[2019-07-04 11:35] vectorinfosec opened #54 "TypeError: string indices must be integers, not str"
[code]

[2019-07-04 11:42] EdOverflow commented on #54
Drop the `-b` flag and everything should work. The `-b` flag is reserved for when you want to supply LinkFinder with a Burp file as input as stated in the README.md:

[2019-07-04 11:42] #54 closed

[2019-07-04 11:43] EdOverflow commented on #54
@GerbenJavado, might be worth throwing an error whenever the `-b` flag is used in conjunction with a URL from stdin.

[2019-07-04 11:44] EdOverflow commented on #49
@s7x &  @Bankde, can we consider this issue as fixed?

[2019-07-04 11:47] vectorinfosec commented on #54
sorry, wrongly i typed -b instead of -d. thanks

[2019-07-08 05:03] Bankde commented on #49
@EdOverflow Yes. I guess we can close this now.

[2019-07-08 10:16] #49 closed

[2019-07-15 14:59] anonymouse65 opened #55 "[10596:10630:0716/002302.178192:ERROR:browser_process_sub_thread.cc(221)] Waited 4 ms for network service"
For some reason when I search a particular URL I get the following error. Note that other URLs work fine.

The URL contains a hash - not sure if thats tripping it - www.example.com/#Login

Error:
[1846:1846:0716/002700.036506:ERROR:http_bridge.cc(110)] Not implemented reached in virtual void syncer::HttpBridgeFactory::OnSignalReceived()
[1846:1869:0716/002700.073889:ERROR:browser_process_sub_threa

[2019-07-16 11:25] EdOverflow commented on #55
Thank you for the issue ticket, @anonymouse65. Would you be willing to share the full command you ran and what OS you are using (including exact version if possible)?

[2019-07-16 11:28] anonymouse65 commented on #55
Sure -

python linkfinder.py -i https://example.com -d

Above URL forwards to below. I tried both commands.

python linkfinder.py -i https://example.com/#Login -d

Running Kali.

PRETTY_NAME="Kali GNU/Linux Rolling"
NAME="Kali GNU/Linux"
ID=kali
VERSION="2019.2"
VERSION_ID="2019.2"
ID_LIKE=debian

[2019-07-16 11:30] EdOverflow commented on #55
Does the following work?

[code]

[2019-07-16 11:34] anonymouse65 commented on #55
When I run CLI version, no errors appear, however it doesn't actually report JS locations.

It reports one thing -
https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css

FYI, I got around this by saving the webpage to a local folder and then having LinkFinder scan the folder for JS - that worked fine. I'm happy with this as a workaround for this particular site, even though i

[2019-07-22 11:43] Sechunt3r opened #58 "Not Running Properly show this error"
/LinkFinder$ python linkfinder.py -i https://github.githubassets.com/assets/frameworks-f5d42599.js
Traceback (most recent call last):
  File "linkfinder.py", line 372, in <module>
    ''' % (html.escape(url), html.escape(url))
AttributeError: 'module' object has no attribute 'escape'

i try install escape by pip install escape

but nothing happened!

[2019-07-22 11:47] #58 closed

[2019-07-22 11:47] Sechunt3r commented on #58
Fixed in when i use Python3

[2019-08-01 19:04] alex1704 opened #59 "Regex not recognize filenames with extra dot in it"
File example:
[code]
Command:
`python linkfinder.py -i s.html -o cli `
outputs nothing
Solution:
Changing reqular expression by adding dot to filename regex.
from:
`([a-zA-Z0-9_\-]{1,}                 # filename`
to:
`([a-zA-Z0-9_\-.]{1,}                 # filename`

[2019-08-08 15:10] Bankde opened #61 "html.escape not found in python2"
Error message:
[code]

[2019-08-08 15:26] Bankde commented on #61
From Vishal opinion, he's ok with using python3 and agree that python2 won't be helpful soon. Also, most people might (or should start) use python3 now. If you're agree with us both, we will just have to update readme to support only python3.

[2019-08-08 15:41] EdOverflow commented on #61
Thank you for bringing this to my attention, @Bankde. I personally prefer sticking to Python 3 since Python 2 will retire soon. This does mean we should probably update the `README.md` file to make this clear to anyone using LinkFinder.

[2019-08-08 15:53] Bankde commented on #61
Yes we should. Could you please update few lines ?
In readme.txt
```LinkFinder supports Python 2 & 3.```

In linkfinder.py
```Line 2: # Python 2.7.x - 3.6.x```
So I don't have to create PR.

I have noticed some messes that (possibly!?) come from supporting python2 such in Line 16-26. This might take some time to figure out what happens there so I will create PR later.

Thank you.

[2019-08-08 18:49] EdOverflow commented on #61
Updated accordingly. Let me know if that works for you, @Bankde.

[2019-08-09 08:10] Bankde commented on #61
They look good. Thanks.

[2019-08-16 18:22] jarombrown commented on #59
I'm having the same issue as @alex1704.  Here is a shared regex with the change.

https://regex101.com/r/Oxciyz/2

Still seems to be missing some js files.

[2019-08-19 11:46] R34LUS3R opened #62 "error in processing burp file"
LinkFile is giving me an error in processing the burp file can you please take a look at this one and help me out Thanks
[code]

[2019-08-19 11:57] realuser07 commented on #62
Also I am not able to use linkfinder with only python.
[code]

[2019-08-20 05:43] aqyoung opened #63 "qqqq"

[2019-08-26 02:34] Julythinkpad opened #64 "help me! OSError: [WinError 1] 函数不正确。"
我该如何去解救这个报错？？

[code]

[2019-08-26 09:23] EdOverflow commented on #64
您可以尝试不用 `-d`。

[2019-08-26 09:25] #63 closed

[2019-08-26 09:40] EdOverflow commented on #59
@alex1704 & @jarombrown, please feel free to submit a pull request for this issue if you think your updated regular expression fixes this issue and I will review it.

[2019-08-29 06:45] Afaque24 opened #65 "What the bloody fuck?"
I am getting this bloody error

Traceback (most recent call last):
  File "linkfinder.py", line 11, in <module>
    import re, sys, glob, html, argparse, jsbeautifier, webbrowser, subprocess, base64, ssl, xml.etree.ElementTree
ImportError: No module named html
Thats even after installing all bloody requirements!

[2019-08-29 07:02] Afaque24 commented on #65
Ok Solved by installing HTML module .

[2019-08-29 07:16] Afaque24 commented on #65
WTF?? now getting this error
Traceback (most recent call last):
  File "linkfinder.py", line 372, in <module>
    ''' % (html.escape(url), html.escape(url))
AttributeError: 'module' object has no attribute 'escape'

[2019-09-02 22:01] alex1704 commented on #59
Created - https://github.com/GerbenJavado/LinkFinder/pull/66

[2019-09-22 14:01] vishnugadupudi opened #67 "ImportError: No module name html"
Traceback (most recent call last):
  File "linkfinder.py", line 11, in <module>
    import re, sys, glob, html, argparse, jsbeautifier, webbrowser, subprocess, base64, ssl, xml.etree.ElementTree
ImportError: No module named html

[2019-09-22 14:02] vishnugadupudi commented on #67
Solution: pip install html
                       or
               sudo apt-get install html

[2019-09-23 10:13] EdOverflow commented on #67
:+1:

[2019-09-23 10:13] #67 closed

[2019-10-21 02:46] guxiaoguo opened #68 "1111"

[2019-10-21 05:29] jaikishantulswani opened #69 "domain"
Is there any workaround to append domain name before the relative url's like full url ?

[2019-10-21 12:47] EdOverflow commented on #69
You can pipe the output into `sed`.

[code]

[2019-10-21 13:03] #68 closed

[2019-10-22 05:02] jaikishantulswani commented on #69
Hi @EdOverflow thank you for your reply. Here as per your solution the parent only the parent domain is appended to all the relative urls. But I have some scenario where I use `-d` flag and linkfinder found some more sub domains and their relative url's too, so how we append them ?
Example:
**python linkfinder.py -i https://example.com -d -o cli**
/test
/test1
/test2
https://new.example.com
/demo1

[2019-10-26 05:21] jaikishantulswani commented on #69
Hi @EdOverflow any workaround for this ?

[2019-10-30 14:30] Nadery opened #70 "AttributeError: 'module' object has no attribute 'escape'"
Can you give me a solution to that problem when I'm run the cmd python linkfinder.py -i https://example.com -d !

[2019-10-30 20:04] EdOverflow commented on #70
Hi @Nadery,

Thank you for raising an issue. Please refer to https://github.com/GerbenJavado/LinkFinder/issues/61 for an explanation on what is going on.

[2019-10-30 20:04] #70 closed

[2019-11-04 08:09] hasnat0x01 commented on #67
`python linkfinder.py -i http://xxxx/js/hoverIntent.js -o results.html
Traceback (most recent call last):
  File "linkfinder.py", line 372, in <module>
    ''' % (html.escape(url), html.escape(url))
AttributeError: 'module' object has no attribute 'escape'`

any solution for this error ?

[2019-11-04 11:39] EdOverflow commented on #67
@hasnat0x01, make sure you are running Python 3.

[2019-11-04 12:00] hasnat0x01 commented on #67
@EdOverflow Thank you its working fine now

[2019-11-08 13:43] EdOverflow commented on #69
@jaikishantulswani, as far as I can tell this might be too difficult to solve as is because it is not always clear which host the JS file belongs to. In your example, there is no guarantee that `/demo2` belongs to `https://new.example.com`, so you might end up with a lot of false-positives.

I am open to suggestions though. Maybe someone out there knows of a potential solution for this problem.

[2019-12-01 05:42] dzhenway opened #71 "xdg-open: no method available for opening on WSL"
Hi,

I got problem when use this tool, by the way i use WSL 2 for this tool

[code]

## Verify xdg-setting

`wayc0de@DESKTOP-9C0TVKV:~/tools/LinkFinder$ xdg-settings get default-web-browser                                        chromium-browser.desktop`

when i tried direct `xdg-open output.html` the output.html successfully come to my chome.

[2019-12-14 05:34] #62 closed

[2020-01-15 08:13] dark-warlord14 opened #72 "disable ssl check"

[2020-02-10 05:55] attacker34 opened #73 "Add support for list of urls"
Hi @Willianvdv

I used Waybackurls and got list of js urls now i want that output to be fed into Linkfinder but could not find any Option for feeding urls.txt into linkfinder.

Please add support for urls txt file.

Thanks.

[2020-03-31 09:14] IbrahimGithub commented on #67
Install before requirement file, use this command for install pip
sudo apt install python-pip

[2020-04-13 09:01] ysl4life commented on #42
also having the same issue still, even with the new version with the fix from @gh0stkey

[2020-04-13 16:43] tanujjane opened #74 "Error install_lib: 'build/lib.linux-x86_64-2.7' does not exist -- no Python modules to install"
Getting an error:

warning: install_lib: 'build/lib.linux-x86_64-2.7' does not exist -- no Python modules to install

![Screenshot_2020-04-13_12-40-19](https://user-images.githubusercontent.com/2560768/79139423-e7474300-7dd3-11ea-8ec6-3e4568f18437.png)

[2020-05-10 20:53] x1n5h3n opened #75 "Import Error: No module named html"
python version: 3.8.3rc1
LinkFinder version: master

Error:
[code]

[2020-06-08 19:23] chawdamrunal opened #76 "issue"
Error: invalid input defined or SSL error: <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:852)>

[2020-06-09 09:46] EdOverflow commented on #76
Duplicate of #42.

[2020-06-09 09:46] #76 closed

[2020-06-09 10:27] EdOverflow commented on #75
What version of Python are you running?

[code]

[2020-06-09 20:41] x1n5h3n commented on #75
As I wrote upper: Python 3.8.3

[2020-06-12 12:37] mehedi1194 commented on #75
Help !

![image](https://user-images.githubusercontent.com/54717234/84503327-d0da3c80-acdb-11ea-85f6-7fee791a5ff1.png)

[2020-06-12 17:08] x1n5h3n commented on #75
What version of python are you running ?

[2020-06-12 17:42] mehedi1194 commented on #75
chech this out

![image](https://user-images.githubusercontent.com/54717234/84531343-4bb84d00-ad06-11ea-8647-707474e6096a.png)

[2020-06-12 17:46] x1n5h3n commented on #75
I recommend you to don't use anymore python2 because it's no more supported and LinkFinder support python3. So use `pip3` instead of `pip`. But I thinks you will have the same error as me.

[2020-06-12 18:02] x1n5h3n commented on #75
To reproduce my use:
[code]

Error:
[code]

[2020-06-12 18:49] mehedi1194 commented on #75
![image](https://user-images.githubusercontent.com/54717234/84536490-c6d23100-ad0f-11ea-9178-2d05290a8c7f.png)

```linkfinder -h``` not working, i have done with ```sudo python3 setup.py install``` command
```python3 linkfinder.py -h``` working good
Thanks bro for your support

[2020-06-14 12:06] EdOverflow commented on #75
@x1n5h3n, would you be willing to retest your steps above? Does the problem still occur with the latest master branch?

[2020-06-14 13:14] x1n5h3n commented on #75
I've got a ModuleNotFoundError when trying to install requirements modules.

Steps to reproduce:
[code]
[code]

**Otherwise it's running well, for me, without installing requirements packages.**

[2020-06-17 14:10] nikitastupin commented on #75
Hi @EdOverflow,

https://github.com/GerbenJavado/LinkFinder/commit/c9cfaa5d1537193292081fc5a86c15bcfa5cd8f9 has broken `pip3 install -r requirements.txt`. Now it returns:

[code]

# Software versions

[code]

[2020-06-18 09:54] EdOverflow commented on #75
Yep, you are absolutely right, @nikitastupin. I noticed this when @x1n5h3n tried reproducing the problem. As you pointed out, `html` is a built-in module in Python 3. I will remove it from the `requirements.txt` file.

[2020-06-23 05:47] Rdago opened #79 "Linkfinder too fast to scan everythin?"
Hello there,

I just ran Linkfinder on 393.162 JS-URLs and it took less than a second to run and it found 2 Endpoints. I dont think that it checked all of them. What am I missing?

My code:
[code]

[2020-06-23 15:09] EdOverflow commented on #79
What version of LinkFinder are you using?

[2020-06-23 15:35] Rdago commented on #79
Hello @EdOverflow
Latest version. I dumped everythin I had and pulled it again. Running it with python3 (if this matters)

[2020-06-23 19:21] Rdago commented on #79
I guess it does not work with lists so I ran it like this:

[code]

Moreover it would be nice if there where flags to just pull out absolute urls. I greped them manually like this:

[code]

[2020-06-23 20:55] stueotue opened #80 "[Feature Request] Add an argument to not open the browser if the output is set to html"
Thank you for this tools, i use it all the time.

Im creating a small script to monitor one of my target and i need the html output.
Everytime the tools done scanning it will open a browser to the output file and my bash script is looping through 400+ js url which will open 400+ browser tab.

That will be great to add a feature to not open the browser with the output is set to html after the scan.

[2020-06-24 12:06] EdOverflow commented on #79
Would you be willing to share a few lines of your input text file?

[2020-06-24 19:34] Rdago commented on #79
Sure.

[code]

PS: glaube das tool kann stand jetzt keine Listen einlesen dementsprechend über ne For-Schleife gelöst, ist aber für meine Zwecke erstmal okey :)

danke für deine Hilfe @EdOverflow
Ich sag mal bis zum CCC ;)

[2020-06-26 12:33] EdOverflow commented on #79
You are absolutely right, @Rdago. There does appear to be a problem with lists now. Lists used to work so I must have broken it with an update. I will try my best to fix this issue as soon as possible.

Übrigens du kannst auch [GNU Parallel](https://www.gnu.org/software/parallel/) verwenden falls du die Links in parallel einlesen möchtest. Lauft schneller als eine Für-Schleife. :)

[code]

[2020-07-21 06:31] sridharm17 opened #81 "Getting error while using burp file"
$ python3 linkfinder.py -b -i /home/kindred.burp -o cli
Traceback (most recent call last):
  File "linkfinder.py", line 325, in <module>
    urls = parser_input(args.input)
  File "linkfinder.py", line 98, in parser_input
    items = xml.etree.ElementTree.fromstring(open(args.input, "r").read())
  File "/usr/lib/python3.8/codecs.py", line 322, in decode
    (result, consumed) = self._buffer_decode

[2020-08-06 16:43] mikely22 commented on #75
Any help fixing this issue Mr EdOverflow have been on this for the past 3days no luck. Thanks

[2020-08-19 00:11] Redge4r commented on #75
Hello,

I see the same error

$ py linkfinder.py -h
Traceback (most recent call last):
  File "linkfinder.py", line 11, in <module>
    import re, sys, glob, argparse, jsbeautifier, webbrowser, subprocess, base64, ssl, xml.etree.ElementTree, html
**ImportError: No module named html**

$ py --version
Python 3.8.5

Please advice what can be done to fix it.

[2020-09-11 16:41] tungpun opened #82 "Issue when find the .js files in `-d` mode"
Hi,

I found an issue in `-d` mode. I think the root cause is LinkFinder can't find the .js file from the first URL using regex.

The command is:

[code]

It doesn't return anything.

The HTML content of my website is:

[code]

[2020-09-25 05:55] HazemHussien1 opened #84 "Error from"
I know this is a duplicate from a past issue but the error still shows up after the supposed fix in the code...
Error: invalid input defined or SSL error: <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:852)>

command : python3 linkfinder.py -i https://tesla.com/_flysystem/s3/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js
hope i am not causing any anno

[2020-09-28 17:27] RogueSMG opened #85 "No Output if not using -d flag"
There's no output if I try to provide a file with URLs or a single Url(tired with multiple URLs/Js Files). It only works if I provide the -d flag
![image](https://user-images.githubusercontent.com/41023447/94465580-c043c880-01dd-11eb-9c0f-bbc77dde1c33.png)

[2020-10-02 11:47] #84 closed

[2020-10-22 12:40] 0xTides opened #86 "Linkfinder hangs on "/usr/bin/sensible-browser: 8: open: not found""
I've been messing around trying to figure out the issues I'm having with linkfinder opening my chromium. My default webbrowser is set to chromium and I cannot find any explaination via google. Any help is hugely appreciated.

[2021-01-20 09:12] math-ematics commented on #86
Same problem here

[2021-01-20 11:57] 0xDexter0us opened #89 "Can't load .js files from the folder."
I have downloaded .js files from gau then I want to process it with this script.
But it just dumps the names of all files on cli and doesn't works.

Command I tried.

```  python3 SecretFinder.py -i ../location/to/jsfiles/*  ```

```  python3 SecretFinder.py -i ../location/to/jsfiles/  ```

[2021-01-20 11:58] #89 closed

[2021-01-20 11:59] 0xDexter0us commented on #89
So sorry I posted this here by mistake...

Very very sorry

[2021-01-20 16:53] EdOverflow commented on #89
No worries, @0xDexter0us. :)

[2021-01-22 16:04] learn-alam opened #90 "SSL Error"
Hi.........
when i run python3 linkfinder.py -i https://target.com/12345674545.js command it gives me following error.
Please help me.
Thnks.

Error: invalid input defined or SSL error: <urlopen error [SSL] internal error (_ssl.c:1123)>

[2021-01-26 05:04] dennismzia opened #91 "error with ssl"
hi im getting this error when i run ``` invalid input defined or SSL error: <urlopen error [SSL] internal error```
after installation it was running fine maybe its  something to do with the urlopener function
thanks in advance.

[2021-01-26 22:11] n00py commented on #81
You don't use a .burp file, you use an export. Right click your scope and click "Save selected items"

[2021-02-13 05:31] #90 closed

[2021-02-13 05:34] learn-alam commented on #91
hi...
What is  http status of your input url of js files.
It will work on 200 ok status.
Following url has 200ok status.
linkfinder -i https://www.example.com/voucher/gtm.js

[2021-02-17 17:19] bootyhunt3r opened #92 "List of URLS"
Hello man ,
Can you add a feature to like , add the js file from a text file , I have a file full of js file endpoints but I cannot pass it through linkfinder , if you can add this feature , it would be really helpful.

[2021-02-26 09:42] velocity16902 commented on #92
Yes please, even i'm trying to input list of js links saved in .txt file.

[2021-02-28 06:09] bootyhunt3r commented on #92
Any update on this one ? Can you please update the script to work with the list of urls ?

[2021-03-03 18:25] sA74n opened #93 "<urlopen error [SSL] internal error (_ssl.c:1123)>"
python3 linkfinder.py -i https://www.domain.com/javascript.js?2355451 -o cli
Usage: python linkfinder.py [Options] use -h for help
Error: invalid input defined or SSL error: <urlopen error [SSL] internal error (_ssl.c:1123)>

[2021-03-07 07:04] RehanMumtaz123 opened #94 "Running Firefox as root in a regular user's session is not supported."

[2021-03-10 09:08] sA74n opened #95 "cookie option not working"
Can u expalin that how can we add cookie name and value in linkfinder cookie option with an example?

[2021-03-20 12:56] gprime31 commented on #86
Option 1:  python3 linkfinder.py -i https://example.com/ -o cli | tee file.txt
Option 2:   python3 linkfinder.py -i https://example.com/ -o cli > file.txt

[2021-03-23 05:44] imon001 commented on #73
you can try this simple bash script for use a list of .js urls in txt file. fst go to the directory where linkfinder is located.
then open terminal and type:
nano yourfile.sh
then copy-past the following lines:

#!/bin/bash
file=$1
lines=$(cat $file)
for line in $lines
do
  python3 linkfinder.py -i $line -o cli
done

then save the file and exit with ctrl+x and enter.
then give execution permission

[2021-03-23 05:44] imon001 commented on #92
you can try this simple bash script for use a list of .js urls in txt file. fst go to the directory where linkfinder is located.
then open terminal and type:
nano yourfile.sh
then copy-past the following lines:

#!/bin/bash
file=$1
lines=$(cat $file)
for line in $lines
do
python3 linkfinder.py -i $line -o cli
done

then save the file and exit with ctrl+x and enter.
then give execution permission t

[2021-03-24 13:13] bootyhunt3r commented on #92
@imon001 , thanks man , but it works fine for some js files and then it shows this error :
Error: invalid input defined or SSL error: <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:1123)>

[2021-03-28 10:20] abhi06991 opened #96 "How to execute linkfinder as a command in terminal from anywhere ?"
I am just trying to include the path of the linkfinder.py to .bashrc file, so that I can run it as a linux command from anywhere, but its just not working!

I have tried everything, gave the script the +x permissions, removed the .py extension. When I am in the LinkFinder folder, this command works `./linkfinder` fine, but I am not able to run the command from anywhere else.

Any suggestions ?

[2021-04-02 16:47] abhi06991 commented on #75
For me, this worked, In the linkfinder.py file, you have to change the shebang, the first line from python to python3
`#!/usr/bin/env python` to `#!/usr/bin/env python3`

[2021-04-02 19:09] w1ld3r commented on #75
@abhi06991 when executed using python3 command, the shebang is not used.
When you run it like this `./linkfinder.py`, it's used.

[2021-04-13 13:41] BeingN00b commented on #93
Im facing the same issue.. please do let me know if its resolved

[2021-04-16 22:20] RapidEU commented on #96
I find the symbolic link a better solution.

For example, if I want to run dirsearch.py using the command 'dirsearch' from anywhere I do this:

`sudo ln -s /home/kali/dirsearch/dirsearch.py dirsearch`

Then I can run 'dirsearch' from any directory.

[2021-04-21 15:46] HackerAndya opened #97 "ImportError: No module named html"
Hey, It's giving many errors while installing and working with the tool. So I would like to ask for regex of grep so that I can make my own

[2021-04-21 16:09] HackerAndya commented on #97
while executing linkfinder.py , I'm getting below error. Though I install requirements

Traceback (most recent call last):
  File "linkfinder.py", line 11, in <module>
    import re, sys, glob, html, argparse, jsbeautifier, webbrowser, subprocess, base64, ssl, xml.etree.ElementTree
ImportError: No module named html

[2021-05-08 14:41] channyein1337 commented on #93
Hey man, it was happened to me too

I fixed it by adding the following lines of code into linkfinder.py
[code]

[2021-05-08 15:27] w1th0ut commented on #93
Error: invalid input defined or SSL error: HTTP/2

same here, any idea?

[2021-05-08 15:37] w1th0ut opened #98 "ssl error http/2"
[code]
I am facing this issue, any idea?

[2021-05-08 15:40] channyein1337 commented on #98
run like this : ```python3 linkfinder.py -i https://domain.com/js/main.js -o cli```

[2021-05-08 15:43] w1th0ut commented on #98
[code]

still same

[2021-05-08 15:43] channyein1337 commented on #93
If it is still happening , just remove those two lines from linkfinder.py
[code]

[2021-05-08 15:45] channyein1337 commented on #98
It is still going or just stop with this errors?

[2021-05-08 15:46] w1th0ut commented on #98
stopping with this error, I running on windows 10 btw

[2021-05-08 15:48] channyein1337 commented on #98
I am not sure what is the error but it is working fine for me. I am running on linux wsl in windows.

[2021-05-08 15:52] w1th0ut commented on #98
Problem solved, I forgot to turn off my proxy. That why this error happened, thanks @channyein1337 for taking time to help me 😄

[2021-05-08 15:52] #98 closed

[2021-05-08 16:12] w1th0ut opened #99 "urlopen error [WinError 3] The system cannot find the path"
[code]
The domain.txt stored in the same folder (/linkfinder), but it cant read that. Any solution?

[2021-05-08 16:23] w1th0ut commented on #97
are you sure already install requirements.txt?
[code]

[2021-06-26 09:48] sakyb7 opened #100 "[Feature request] can you ignore ssl option in linkfinder.?"

[2021-07-07 01:08] zealsham opened #101 "Linkfinder fails on most websites using HTTP/2"
i notice that linkfinder fails for most website using http/2 and returns an ssl error
[code]

[2021-07-14 08:53] bughunter-0 opened #102 "js.txt list"
would you like to explian more exemples for (python linkfinder.py -i 'Desktop/*.js') .  for html output

[2021-08-04 16:30] YuriyPobezhymov commented on #101
i have exactly the same problem

[2021-08-11 16:08] YuriyPobezhymov commented on #101
On my side it seemed that Akamai WAF uses some scan protection.

[2021-09-26 11:50] Streetuncertainaka opened #103 "Findig partner"

[2021-09-26 11:50] Streetuncertainaka commented on #103
Emergency

[2021-09-27 19:54] Streetuncertainaka opened #104 "Find real time location"
Find real time location earlier

[2021-10-03 19:49] OVERPEY commented on #64
please write in English how to fix this.

[2021-10-13 22:43] Streetuncertainaka opened #105 "Hello"

[2021-10-13 23:17] Streetuncertainaka commented on #105
Hi

[2021-10-18 03:20] REDgreen123 opened #106 "1"

[2021-10-18 03:20] #106 closed

[2021-10-20 15:23] Streetuncertainaka opened #107 "BEGIN:VCARD VERSION:3.0 N:;Aney My Dear;;; FN:Aney My Dear TEL;TYPE=CELL;TYPE=PREF:019-213-03899 EMAIL;TYPE=HOME:shahorinaney@gmail.com END:VCARD"
Hi, my Connection Code for Remote Support is 775 182 597 , please use this code to connect with me.

[2021-10-20 16:56] Streetuncertainaka opened #108 "BEGIN:VCARD VERSION:3.0 N:;Aney My Dear;;; FN:Aney My Dear TEL;TYPE=CELL;TYPE=PREF:019-213-03899 EMAIL;TYPE=HOME:shahorinaney@gmail.com END:VCARD"
https://github.com/Streetuncertainaka/jubilant-rotary-phone/blob/main/.github/workflows/blank.yml

[2021-10-20 16:59] Streetuncertainaka opened #109 "So boring"
So boring

_Originally posted by @Streetuncertainaka in https://github.com/GerbenJavado/LinkFinder/issues/108#issuecomment-947855865_

[2021-11-06 07:44] holsaysaroota opened #110 "ssl"
Usage: python linkfinder.py [Options] use -h for help
Error: invalid input defined or SSL error: HTTP Error 404: Not Found

[2021-11-11 08:07] infinityInfinite opened #111 "is this only work in linux ?"
I tried in Windows , but it is giving me errors , is this program only meant for Linux

[2021-11-13 08:53] infinityInfinite commented on #111
no help , Sadge

[2021-11-14 23:53] Streetuncertainaka opened #112 "Watch "Ek Tukda Dhoop Status 😘 | Raghav Chaitanya Song Status" on YouTube"
https://youtube.com/shorts/zUAjdGec2Ws?feature=share

[2021-11-20 00:44] Streetuncertainaka opened #113 "live location"
Aney My Dear
01921303899

[2021-11-28 07:43] Streetuncertainaka opened #114 "Finding your Good luck ticket 🙂"
I’m on my way. See my trip progress and arrival time on Maps: https://maps.app.goo.gl/7DeAzvJGjqXuSCpH7

[2021-12-31 15:56] rmjaadugar opened #115 "Couldn't find index page for 'jsbeautifier'"
I am unable to find any jsbeautifier in the dependencies list and I am getting below error while trying to setup. Any helping tip to overcome this issue.

Installed /usr/local/lib/python3.9/dist-packages/LinkFinder-1.0-py3.9.egg
Processing dependencies for LinkFinder==1.0
Searching for jsbeautifier
Reading https://pypi.org/simple/jsbeautifier/
Download error on https://pypi.org/simple/jsbeautifier

[2022-01-25 17:04] storenth commented on #100
Looks like need to rewrite using module `requests`

[2022-01-25 21:36] vansh1 opened #116 "/usr/bin/sensible-browser: 8: open: not found"
i just ran this python3 linkfinder.py -i httpx.txt please help if anyone knows this fix

[2022-02-28 15:52] Sir-peck commented on #92
I was having issues with this, but your fix worked perfectly so just want to say thank you imon001

[2022-03-01 19:16] vansh1 opened #117 "Linkfinder does not return any output"
i am not getting any output
command i used python3 linkfinder.py -i sites.txt

[2022-03-14 16:52] #109 closed

[2022-03-14 16:53] #113 closed

[2022-03-14 16:53] #103 closed

[2022-03-14 16:53] #107 closed

[2022-03-14 16:53] #108 closed

[2022-03-14 16:53] #112 closed

[2022-03-14 16:53] #114 closed

[2022-03-14 16:55] #105 closed

[2022-03-20 18:30] ProgramFilesx86 commented on #64
And how can we then fix it ?

[2022-03-23 07:07] ville87 commented on #115
You have to install it first with pip:
`$ pip3 install jsbeautifier`

[2022-03-25 16:33] barrett092 commented on #92
Getting this error as well...

[2022-04-06 08:28] #115 closed

[2022-04-06 08:30] #81 closed

[2022-04-06 08:34] EdOverflow commented on #97
Closing as duplicate of #75.

[2022-04-06 08:34] #97 closed

[2022-04-27 10:32] LeoHuang2015 opened #119 "do not support ip?"
like this:`http://127.0.0.1/sadfasdfsafsdf`

example:
`

<script>
//var a="http://www.baidu.com/forum.php?mod=forumdisplay&fid=30517&orderby=inject&filter=author&orderby=inject&page=1"+alerxt(110)+"1";

var a = "http://127.0.0.1/sadfasdfsafsdf";
var b = "//baidu.com";
var c = '"/path?a=3&b=3"';
var d = "http"+"://" + "163.com";

s = "/test110?" + "a=3&c=3";

//var a="http://www.baidu.com/forum.php

[2022-05-20 02:31] SanchezrEdwin01 commented on #71
How did you solve this?

[2022-05-28 04:37] hid3rx commented on #64
I changed the code like this, and it works:
[code]

[2022-06-01 20:07] okondo-afo opened #122 "DeprecationWarning: ssl.PROTOCOL_TLSv1_2"
linkfinder returns this output

/LinkFinder/linkfinder.py:133: DeprecationWarning: ssl.PROTOCOL_TLSv1_2 is deprecated
  sslcontext = ssl.SSLContext(ssl.PROTOCOL_TLSv1_2)
cat: standard output: Bad file descriptor

[2022-06-21 10:47] pro7357 commented on #122
Yeah, ssl.PROTOCOL_TLSv1_2 is deprecated.
Referring to https://docs.python.org/3/library/ssl.html#client-side-operation, update those line with:
sslcontext = ssl.SSLContext(ssl.PROTOCOL_TLS_CLIENT)
sslcontext.load_verify_locations("/etc/ssl/certs/ca-bundle.crt")

I didn't have that cert. But cert from ncat work fine. I'm using /usr/share/ncat/ca-bundle.crt

[2022-06-29 22:31] Syazvinski commented on #110
im having the same issue

[2022-06-29 22:33] Syazvinski commented on #42
still having the issue here

[2022-06-30 04:51] Bankde commented on #42
@Syazvinski Can we have the error message, and (if you could) step to reproduce and the website you're testing?

[2022-07-24 10:04] QGB commented on #64
[code]

kernel32.FreeLibrary  OSError WinError 1 函数不正确

[2022-08-02 13:17] kpratik9 opened #125 "Blank Output"
Don't see an output after running it on a txt file.

Already ran setup.py file.

[2022-08-21 20:31] abhinavsaraswatt commented on #122
above thing didn't work for me

[2022-09-04 17:50] gprime31 commented on #122
python -W ignore foo.py

[2022-09-05 12:32] Incend1um commented on #122
for MacOS this worked for me
sslcontext = ssl.SSLContext(ssl.PROTOCOL_TLS_CLIENT)
sslcontext.load_verify_locations("/usr/local/Cellar/nmap/7.92/share/ncat/ca-bundle.crt")

[2022-09-06 04:45] abhinavsaraswatt commented on #122
This works for me!

[2022-09-12 18:49] doverman22 commented on #42
Hi there, I'm having the following errors when launching against a target:
[code]

[2022-09-12 18:53] doverman22 commented on #42
Hi there, when launching against a target I'm having the following error:
[code]

[2022-09-21 19:53] ghost-man01 commented on #42
Hey I'm getting the same issue of `sslcontext`.